$body-size: 20px

$vak-white: #FFFFFF
$vak-red: #D95426
$vak-blue: #22538E
$vak-orange: #D99325
$vak-green: #1A975B

$primary: $vak-blue
$info: $vak-blue
$success: $vak-green
$warning: $vak-orange
$danger: $vak-red

$box-padding: 2rem

$navbar-height: 3.5rem
$navbar-background-color: transparent
$navbar-item-color: $vak-white
$navbar-item-img-max-height: 2.5rem
$navbar-dropdown-arrow: $vak-white
$navbar-dropdown-background-color: transparent