@import "../../node_modules/bulma/sass/utilities/variables"

body.home header#header
  background-size: cover
  background: url("../../img/header2.jpg") no-repeat center center

.navbar-brand .vak-logo
  position: relative
  top: -1px

.navbar a
  font-size: $size-6

.navbar.is-transparent
  .navbar-menu
    box-shadow: none

//  a.navbar-item:hover
//    background-color: rgba(0,0,0,0.2) !important

.navbar-burger span
  background-color: $white