@import "../config"
@import "../../node_modules/bulma/sass/utilities/variables"

body.home header#header
  background-size: cover
  background: url("../../img/header2.jpg") no-repeat center center

+touch
  body.home header#header
    background-position-y: top

.navbar-brand .vak-logo
  position: relative
  top: -2px

.hero.is-primary
  .navbar
    a
      font-size: $size-6

  .navbar-burger span
    background-color: $vak-white

  .navbar-dropdown
    box-shadow: none

+desktop
  .navbar-dropdown
    border: 1px solid rgba(255, 255, 255, 0.75)

+touch
  .navbar-menu
    box-shadow: none

.tile
	&.is-events
		background-color: $vak-red
		color: $white

	&.is-vakstars
		background-color: $vak-orange  
		color: $white

	&.is-blog
		background-color: $vak-blue
		color: $white

	&.is-gallery
		background-color: $vak-green
		color: $white
