#site-navigation .nav-left a 
  font-size: 2em
  display: block
  width: 450px
  height: 150px
  background: url("../../img/vaci-anime-klub-logo-450.png") no-repeat 
  text-indent: 100%
  white-space: nowrap
  overflow: hidden

header#header
	background-image: url("http://phenomena.nationalgeographic.com/files/2015/06/BGYE66.jpg")
	background-size: contain
